
.animateheartbeat {
    animation: heartbeat 1.2s ease-in-out infinite;
}

@keyframes heartbeat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.08); } /* Aumenta un 8% su tamaño */
}